{{- /* This should be rendered as a Nomad template */ -}}
{
	"name": "Nomad",
	"type": "prometheus",
	"url": "http://{{ env "NOMAD_IP_influx" }}:4646/v1/metrics?format=prometheus",
	"orgID": "«orgid»",
	"bucketID": "«bucketid»",
	"allowInsecure": true
}
